<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chao.bookviki">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />

    //自己 application
    <application
        android:name="com.chao.bookviki.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        //主类
        <activity android:name="com.chao.bookviki.ui.main.activity.WelcomeActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chao.bookviki.ui.main.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait">
        </activity>

        //知乎
        <activity android:name="com.chao.bookviki.ui.zhihu.activity.CalendarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.zhihu.activity.ZhihuDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.zhihu.activity.CommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.zhihu.activity.ThemeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.zhihu.activity.SectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        //Gank
        <activity android:name="com.chao.bookviki.ui.gank.activity.TechDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.gank.activity.GirlDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        //掘金

        <activity android:name="com.chao.bookviki.ui.gold.activity.BookManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name="com.chao.bookviki.ui.vtex.activity.RepliesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        //book
        <activity android:name="com.chao.bookviki.ui.gold.activity.BookDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.gold.activity.BookCommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chao.bookviki.ui.userinfo.activity.UserEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <service android:name="com.chao.bookviki.component.UpdateService"/>

    </application>

</manifest>